In [1]:
import numpy as np
import pandas as pd
import re
import datetime as dt

%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
import string

In [3]:
sub = pd.read_csv('/Users/kimginam/Data176/NLP/소설작가분류/raw/sample_submission.csv',index_col=0)

In [4]:
sub

       0  1  2  3  4
index
0      0  0  0  0  0
1      0  0  0  0  0
2      0  0  0  0  0
3      0  0  0  0  0
4      0  0  0  0  0
...   .. .. .. .. ..
19612  0  0  0  0  0
19613  0  0  0  0  0
19614  0  0  0  0  0
19615  0  0  0  0  0
19616  0  0  0  0  0

[19617 rows x 5 columns]

In [ ]:
print(sub.shape)
sub.head()

In [5]:
sub[sub.columns] = p_tst
sub.head()

NameError: name 'p_tst' is not defined

In [ ]:
sub.to_csv('/Users/kimginam/Data176/NLP/소설작가분류/predict/submission.csv')